@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: "League Spartan";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul {
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
ul li a {
  color: #7D828F;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition: 0.4s;
}
ul li a:hover {
  color: #1B1D23;
}

.btn {
  width: 252px;
}
.btn a {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  background: #1B1D23;
  padding: 25px 32px 22px 37px;
}
.btn a button {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header .nav {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  padding: 56px 0px 56px 0px;
}
header .nav .navbar {
  display: flex;
  align-items: center;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
header .nav .navbar ul {
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
header .nav .navbar ul li a {
  color: #7D828F;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
header .nav .navbar ul li a:hover {
  color: #1B1D23;
}
header .header-content {
  max-width: 1110px;
  padding: 186px 0px 179px 190px;
  margin: 0 auto;
  background-image: url(../img/disktop-header-background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-content .header-content-text {
  max-width: 540px;
}
header .header-content .header-content-text h1 {
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
header .header-content .header-content-text p {
  max-width: 445px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 41px;
}
header .header-content .square {
  display: flex;
  transform: translate(-270px, 179px);
}
header .header-content .square .square-content {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  transition: 0.4s;
}
header .header-content .square .square-content:hover {
  background: #EEEFF4;
}
header .header-content .square .square-content p {
  color: #7D828F;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
header .header-content .square .first {
  background: #1B1D23;
}
header .header-content .square .first:hover {
  background: #1B1D23;
}
header .header-content .square .first p {
  color: #FFF;
}

main .welcome {
  max-width: 1110px;
  margin: 0 auto;
  transform: translateY(110px);
}
main .welcome h1 {
  color: #EEEFF4;
  font-size: 250px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: -5px;
}
main .about {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 190px;
}
main .about .about-content-1 {
  max-width: 445px;
}
main .about .about-content-1 h3 {
  color: #1B1D23;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 43px;
}
main .about .about-content-1 .paragraph {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
main .about .about-content-1 .paragraph p {
  color: #60636D;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
main .about .about-content-2 img {
  display: block;
}
main .about-2 {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 167px 0px 168px 190px;
  background-image: url(../img/disktop-img-about-2-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .about-2 h1 {
  max-width: 445px;
  color: #FFF;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  margin-bottom: 27px;
}
main .about-2 .btn {
  width: 190px;
}
main .cart {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 200px;
}
main .cart .cart-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
main .cart .cart-text h1 {
  color: #1B1D23;
  font-size: 72px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}
main .cart .cart-element {
  display: flex;
  justify-content: space-between;
}
main .cart .cart-element .cart-content-1 {
  width: 350px;
  height: 560px;
  background-image: url(../img/disktop-img-cart-img-1.png);
  padding: 457px 0px 0px 40px;
}
main .cart .cart-element .cart-content-1 h4 {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
main .cart .cart-element .cart-content-1 p {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
main .cart .cart-element .cart-content-2 {
  width: 350px;
  height: 560px;
  background-image: url(../img/disktop-img-cart-img-2.png);
  padding: 457px 0px 0px 40px;
}
main .cart .cart-element .cart-content-2 h4 {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
main .cart .cart-element .cart-content-2 p {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
main .cart .cart-element .cart-content-3 {
  width: 350px;
  height: 560px;
  background-image: url(../img/disktop-img-cart-img-3.png);
  padding: 457px 0px 0px 40px;
}
main .cart .cart-element .cart-content-3 h4 {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
main .cart .cart-element .cart-content-3 p {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

footer .foter {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
footer .foter .foter-content {
  width: 1000px;
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
  background: #EEEFF4;
}
footer .foter .foter-content .foter-logo {
  width: 200px;
  height: 200px;
  background: #1B1D23;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foter .btn {
  transform: translate(175px);
}/*# sourceMappingURL=style.css.map */