@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid blue;    
}
body, button, input{
    font-family: "League Spartan";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
ul{
    display: flex;
    column-gap: 55px;
    li{
        a{
            color: #7D828F;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            transition: 0.4s;
            &:hover{
                color: #1B1D23;
            }
        }
    }
}
.btn{
    width: 252px; 
a{
    display: flex;
    align-items: center;
    column-gap: 24px;
    background: #1B1D23;
    padding: 25px 32px 22px 37px;
    transition: 0.4s;
    &:hover{
        background: #60636D;
    }
    button{
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
}
header{
    .nav{
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        padding: 56px 0px 56px 0px;
        position: relative;   
        .navbar{
            display: flex;
            align-items: center;
            column-gap: 95px;
            ul{
                display: flex;
                column-gap: 55px;
                li{
                    a{
                        color: #7D828F;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 25px;
                        &:hover{
                            color: #1B1D23;
                        }
                    }
                }
            }
            .line-text{
                display: flex;
                align-items: center;
                column-gap: 48px;
                transform: rotate(90deg);
                position: absolute;
                top: 125%;
                left: -270px;
                .liner{
                    width: 104px;
                    height: 1px;
                    background: #c8ccd8;
                }
                a{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 133%;
                    letter-spacing: 1em;
                    color: #c8ccd8;
                    text-transform: uppercase;
                }
            }
            .menu{
                display: none;
            }
        }
    }
}
main{
    .cart{
        max-width: 1110px;
        margin: 0 auto;
        margin-bottom: 160px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        .cart-container{
            display: flex;
            justify-content: space-between;
            .text{
               margin: 457px 0px 0px 37px;
            h4{
                font-weight: 700;
                font-size: 32px;
                line-height: 125%;
                color: #fff;
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 133%;
                color: #fff;
                opacity: 0.75;
            }
           }
            .cart-1{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-1.png);
                background-repeat: no-repeat;
            }
            .cart-2{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-2.png);
                background-repeat: no-repeat;
            }
            .cart-3{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-3.png);
                background-repeat: no-repeat;
            }
        }
        .cart-container{
            .cart-4{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-4.png);
                background-repeat: no-repeat;
            }
            .cart-5{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-5.png);
                background-repeat: no-repeat;
            }
            .cart-6{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-6.png);
                background-repeat: no-repeat;
            }
        }
        .cart-container{
            .cart-7{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-7.png);
                background-repeat: no-repeat;
            }
            .cart-8{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-8.png);
                background-repeat: no-repeat;
            }
            .cart-9{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-9.png);
                background-repeat: no-repeat;
            }
        }
        .cart-container{
            .cart-10{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-10.png);
                background-repeat: no-repeat;
            }
            .cart-11{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-11.png);
                background-repeat: no-repeat;
            }
            .cart-12{
                width: 350px;
                height: 560px;
                background-image: url(../img/second-page/disktop-img-cart-img-12.png);
                background-repeat: no-repeat;
            }
        }
    }
}
footer{
    .foter{
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .foter-content{
            max-width: 1000px;
            display: flex;
            align-items: center;
            column-gap: 85px;
            background: #EEEFF4;
            .foter-logo{
                width: 200px;
                height: 200px;
                background: #1B1D23;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .btn{
            transform: translate(175px);
        }
    }
}